{% extends "base.html" %}



{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>About Us</h1>
        <p> This is about us. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae et ea distinctio facere a commodi enim, eum tenetur. Id corrupti iure minima architecto ipsam modi magni, tempora eligendi vel maiores!</p>
        <p> This is about us. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae et ea distinctio facere a commodi enim, eum tenetur. Id corrupti iure minima architecto ipsam modi magni, tempora eligendi vel maiores!</p>
        <p> This is about us. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae et ea distinctio facere a commodi enim, eum tenetur. Id corrupti iure minima architecto ipsam modi magni, tempora eligendi vel maiores!</p>
    </div> 
</div>


{% endblock %}